@import url("../webfonts/webfonts.css");
:root {
    --color1: #3e00ff;
    --color2: #F2F2FF;
    --color3: #5D0E41;
    --color4: #170055;
    --color5: #FF004D;
	--color6: #000000;
    --fuentetitulo: 'Archiv Grotesk';
    --fuentesecundaria: 'Anybody';

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    font-family: var(--fuentetitulo);
    background-color: var(--color2);
    color: var(--color1);
}


.sidebar{
    width: 20%;
    height: 100vh;
    padding: 30px;
    text-align: start;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    font-weight: bold;
}

.isotipo-centrado{
    display: flex;
    text-align: center;
    align-items: center;
}

.tarjetas{
    font-family: 'Archiv Grotesk';
}

.cerrar-sesion {
    color: var(--color5);
    font-family: var(--fuentesecundaria);
    font-weight: bold;
}


.container-welcome{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
}

.container-welcome > h1{
    font-size: 4rem;
    font-weight: bold;
    font-family: var(--fuentesecundaria);
}

.container-welcome > p{
    font-size: 1.6rem;
    color: var(--color5);
}

.card-title{
    font-size: 1.4rem;
}

.numeros{
    color: var(--color4);
    align-items: end;
    text-align: end;
    font-size: 4rem;
    font-weight: bold;
    font-family: var(--fuentesecundaria);
}

.card > a{
    margin: 10px;
}

.bar-exportar{
    font-family: var(--fuentesecundaria);
}

.bar-exportar > h1{
    font-size: 3.4rem;
    font-weight: bold;
}

.titulo-admin{
    margin: 3rem;
    font-size: 2rem;
    font-family: var(--fuentesecundaria);
    font-weight: bold;
}

.btn-primary{
    color: var(--color2);
    background-color: var(--color1);
    border: var(--color1);
}

.btn-secondary{
    color: var(--color2);
    background-color: var(--color4);
    border: var(--color4);
}

.btn-warning{
    color: var(--color2);
    background-color: var(--color5);
    border: var(--color5);
}

.table > th{
    background-color: var(--color1);
}

@media screen and (max-width: 900px) {
    .container-welcome > h1{
        font-size: 2rem;
    }
    .container-welcome > p{
        font-size: 1.3rem;
    }
    .card-title{
        font-size: 1.1rem;
    }
}